{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Registration Form</title>
     <link rel="stylesheet" href="{% static 'styles/style1.css' %}">
</head>
<body>
<div class="main">
<div class="register">
    <div align="center">
    <h2>Register Here...</h2>
    <form action="register"  method="post">
    {% csrf_token %}

    <input type="text"  name="username" placeholder="enter your user name" required>
    <br><br>

    <input type="text" name="first_name" placeholder="enter your first name" required>
    <br><br>

    <input type="text"  name="last_name" placeholder="enter your last name" required>
    <br><br>

    <input type="email"  name="email" placeholder="enter your email" required>
     <br><br>

    <input type="password"   name="password" placeholder="enter your password" required>
    <br><br>

    <input type="password"   name="password1" placeholder="confirm your password" required>
    <br><br>

    <input type="submit" id="submit" value="Register">
    </form>
    </div>

</div>
</div>
</body>
</html>